@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

body,
p {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace, sans-serif;
  color: rgb(71, 199, 178);
}
a {
  text-decoration: none;
}

.app {
  height: 100vh;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  margin-bottom: 1em;
  text-align: center;
}
.header img {
  height: 55px;
  width: 87px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  padding: 10px 30px;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 12px;
  display: block;
  font-size: large;
  border: none;
  background: #666;
  color: white;
  cursor: pointer;
  outline: none;
}
.dotted-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 56vh;
}

.home {
  max-width: 75vw;
  min-height: 56vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.home img {
  height: 100px;
  border-radius: 10px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.form input#Bill,
.options #CustomTip,
.form input#People {
  font-size: 1.2em;
  padding: 0.2em 0.28em;
  margin-left: 1em;
  width: 25%;
  background-color: hsla(201, 100%, 91%, 0.3);
  outline: none;
  border-radius: 5px;
  color: white;
  font-weight: lighter;
}
.options button {
  background: none;
  color: rgb(71, 199, 178);
  height: 2.5em;
  width: 3.5em;
  font-size: 0.8;
}
.options button:focus {
  border: 1px solid white;
}
.options #CustomTip {
  width: 17%;
}
.form input#People {
  width: 10%;
}

.form input:focus {
  border: 1px solid hsl(0, 0%, 100%);
}
.form .form-label,
label {
  margin-top: 10px;
  margin-bottom: 10px;
}
.form .bill {
  margin: 10px;
}

.form .tip {
  /* margin: 10px; */
}
.form .people {
  margin-top: 1.5em;
}

/* RESET BUTTON */
.calculator button {
  padding: 5px 15px;
  /* width: 100%; */
  background-color: #666;
  border-radius: 20px;
  border: none;
  outline: none;
  color: white;
  margin: auto;
  cursor: pointer;
  text-transform: uppercase;
}
.dot {
  height: 1em;
  width: 1em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 4px;
}
.dot1-select {
  background-color: rgb(71, 199, 178);
}
.dot2-select {
  background-color: rgb(71, 199, 178);
}
.calculator {
  display: flex;
  flex-direction: column;
}
.calculator-info {
  text-align: center;
  margin: 30px;
}

/* remove arrows from inputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
